[Unit]
Description=Unit file for managing {{SERVICE_NAME}} within Starlings

[Service]
Environment="http_proxy={{http_proxy}}"
Environment="https_proxy={{https_proxy}}"
Environment="HTTP_PROXY={{HTTP_PROXY}}"
Environment="HTTPS_PROXY={{HTTPS_PROXY}}"
ExecStart={{BEAT_HOME}}/{{SERVICE_NAME}} -c {{BEAT_HOME}}/{{SERVICE_NAME}}.yml {{DEBUG_ARGS}}

[Install]
WantedBy=multi-user.target
